body {
    margin: 0;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #111;
}

canvas {
    box-shadow: 10px 10px 0px  0px black;
    max-width: 100%;
}

.controller {
    display: none;
}

@media (max-width: 700px) {
    .controller {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        user-select: none;

        button {
            font-weight: bold;
            background-color: rgb(55, 88, 236);
            border: none;
            border-bottom: 0.2em solid rgb(27, 53, 170);
            color: white;
            font-size: 10vw;
            padding: 10px;
            min-width: 20vw;
        }

        .movement {
            flex: 2 1;
            display: flex;

            button {
                flex: 1 1;
            }
        }

        .actions {
            flex: 1 1;
            display: flex;
            flex-direction: column;
        }
    }
}